{% extends "base.html" %}
{% block pagetitle %}Mozilla Reps - Dashboard Mockup{% endblock %}

{% block content %}
<div class="row">
  <div class="ten columns">
    <h4>Dashboard Mockup</h4>
  </div>
  <div class="two columns align-right">
    <a href="#" class="small white button nice radius"
                 data-reveal-id="interests-modal">Edit interests</a>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <dl class="tabs top-margined">
      <dd><a href="#interest1" class="active">Interest 1</a></dd>
      <dd><a href="#interest2">Interest 2</a></dd>
    </dl>
    <ul class="tabs-content">
      <li class="active" id="interest1Tab">
        <!-- people block -->
        <div class="dashboard-box">
          <div class="row">
            <div class="seven columns">
              <h5>People</h5>
            </div>
            <div class="five columns">
              <dl class="sub-nav dashboard-filter">
                <dt>Filter:</dt>
                  <dd class="active">
                    <a id="dashboard-mozillians-reps-grid-button" href="javascript:void(0)">
                      Reps grid
                    </a>
                  </dd>
                  <dd>
                    <a id="dashboard-mozillians-reps-reports-button" href="javascript:void(0)">
                      Reps reports
                    </a>
                  </dd>
              </dl>
            </div>
          </div>

          <div class="row">

          <!-- people grid block -->
              <div id="dashboard-mozillians-reps-grid-block">
                  <ul class="block-grid four-up">
                      <li>
                        <a href="profile_url">
                          <div class="panel dashboard-mentee">
                            <img src=""
                                 class="profiles-people-avatar"
                                 alt="avatar">
                            <h6>Pierros Papadeas</h6>
                          </div>
                        </a>
                      </li>
                  </ul>
                  <div class="align-right">
                    <a href="#" data-reveal-id="mail-modal"
                       class="small white button nice radius">Mail reps</a>
                  </div>
              </div>
            <!-- end people grid block -->

            <!-- reports list block -->
            {% if mentees_reports_list is defined %}
              <div id="dashboard-mozillians-reps-reports-block" class="hidden">
                {% if mentees_reports_list %}
                  <table class="dashboard-table">
                    <thead>
                      <tr>
                        <th class="dashboard-clickable type-string">Fullname</th>
                        <th class="dashboard-clickable type-int">Year</th>
                        <th class="dashboard-clickable type-string">Month</th>
                        <th class="dashboard-clickable type-string">Date filled</th>
                        <th class="dashboard-clickable type-string align-center">Empty</th>
                        <th class="dashboard-clickable type-string align-center">Overdue</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for report in mentees_reports_list %}
                        <tr>
                          <td>
                            <a href="{{ url('profiles_view_profile',
                                            report.user|get_display_name) }}">
                              {{ report.user.get_full_name() }}
                            </a>
                          </td>
                          <td>{{ report.month.strftime("%Y") }}</td>
                          <td>
                            <a href="{{ report|get_report_view_url }}">
                              {{ report.month.strftime("%B") }}
                            </a>
                          </td>
                          <td>{{ report.updated_on|format_datetime }}</td>
                          <td class="dashboard-list-pictogram">
                            {% if report.empty %}%{% endif %}
                          </td>
                          <td class="dashboard-list-pictogram">
                            {% if report.overdue %}%{% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                  <div class="row">
                    <div class="twelve columns no-bugs">
                      <p>No Reports found!</p>
                    </div>
                  </div>
                {% endif %}
                {% if mentees_emails is not none %}
                  <div class="align-right">
                    <a href="#" data-reveal-id="mail-modal"
                       class="small white button nice radius">Mail my mentees</a>
                  </div>
                {% endif %}
              </div>
            {% endif %}
            <!-- end reports list block -->

          </div>
        </div>
        <!-- end people block -->

        <!-- events block -->
        <div class="dashboard-box">
          <div class="row">
            <div class="seven columns">
              <h5>Events</h5>
            </div>
            <div class="five columns">
              <dl class="sub-nav dashboard-filter">
                <dt>Filter:</dt>
                  <dd class="active">
                    <a id="dashboard-events-future-button" href="javascript:void(0)">
                      Current & Future events
                    </a>
                  </dd>
                  <dd>
                    <a id="dashboard-events-past-button" href="javascript:void(0)">
                      Past events
                    </a>
                  </dd>
              </dl>
            </div>
          </div>

          <div class="row">

            <!-- Current and future events block -->
            <div id="dashboard-events-future-block">
                Current and Future events table
            </div>
            <!-- end Current and future events block -->

            <!-- Past events block-->
            <div id="dashboard-events-past-block" class="hidden">
                Past events table
            </div>
            <!-- end Past events block -->

          </div>
        </div>
        <!-- end events block -->

      </li>
      <li id="interest2Tab">
      </li>
    </ul>

  </div>
</div>

<!-- Mail Reps Reveal Modal -->
{% if mentees_emails is not none %}
  <div id="mail-modal" class="reveal-modal">
    <a class="close-reveal-modal">&#215;</a>
    <p class="lead">Mail Reps</p>
    <form id="email-mentees-form" method="post"
          action="{{ url('email_mentees') }}" class="custom">
      {{ csrf() }}
      {% for field in email_mentees_form %}
        {{field}} {{ field.label }}
        <br>
      {% endfor %}

      <div class="row">
        <div id="send-mail" class="twelve columns align-right">
          <button type="submit" class="medium blue button nice radius">
            Send email
          </button>
        </div>
      </div>
    </form>
  </div>
{% endif %}
<!-- Mail Reps Reveal Modal End -->

<!-- Interests modal -->
<div id="interests-modal" class="reveal-modal">
  <a class="close-reveal-modal">&#215;</a>
  <p class="lead">
    Specify the Functional Areas you want to track
  </p>
  <h3>
    Functional Areas
  </h3>
  <ul class="block-grid three-up">
      <li>
        <label for="interest">
        <input type="checkbox" name="interest" value="">
        interest
      </li>
  </ul>
  <a href="#" class="small blue button nice radius close-reveal-modal">
    Choose these areas &raquo;
  </a>
</div>
<!-- Interests modal end -->

{% endblock %}

{% block bottomextra %}
  {{ js('base_dashboard_mockup') }}
{% endblock %}
