{% extends "base.html" %}
{% block pagetitle %}Mozilla Reps - Dashboard{% endblock %}

{% block content %}
<div class="row">
  <div class="twelve columns">
    <h4>Dashboard</h4>
  </div>
</div>

<div class="row">

  <div class="nine columns">
    <div class="dashboard-box">
      <div class="row">
        <div class="seven columns">
          <h5>Reports</h5>
        </div>
        <div class="five columns">
          <dl class="sub-nav dashboard-filter">
            <dt>Filter:</dt>
            <dd><a href="#">All</a></dd>
            <dd><a href="#">Mine</a></dd>
            <dd class="active"><a href="#">My mentees</a></dd>
          </dl>
        </div>
      </div>

      <div class="row">
        <ul class="block-grid four-up">
          <li>
            <div class="panel dashboard-mentee">
              <img src="http://cdn.libravatar.org/avatar/ab2e3b22d61560887a580fab4b98882c?d=http%3A%2F%2F127.0.0.1%3A8000%2Fmedia%2Fimg%2Fremo%2Fremo_avatar.png&amp;s=50"
                     class="profiles-people-avatar"
                     alt="avatar">
              <a href""><h6>William Quiviger</h6></a>
            </div>
          </li>
          <li>
            <div class="panel dashboard-mentee">
              <img src="http://cdn.libravatar.org/avatar/ab2e3b22d61560887a580fab4b98882c?d=http%3A%2F%2F127.0.0.1%3A8000%2Fmedia%2Fimg%2Fremo%2Fremo_avatar.png&amp;s=50"
                     class="profiles-people-avatar"
                     alt="avatar">
              <a href""><h6>William Quiviger</h6></a>
            </div>
          </li>
          <li>
            <div class="panel dashboard-mentee">
              <img src="http://cdn.libravatar.org/avatar/ab2e3b22d61560887a580fab4b98882c?d=http%3A%2F%2F127.0.0.1%3A8000%2Fmedia%2Fimg%2Fremo%2Fremo_avatar.png&amp;s=50"
                     class="profiles-people-avatar"
                     alt="avatar">
              <a href""><h6>William Quiviger</h6></a>
            </div>
          </li>
          <li>
            <div class="panel dashboard-mentee">
              <img src="http://cdn.libravatar.org/avatar/ab2e3b22d61560887a580fab4b98882c?d=http%3A%2F%2F127.0.0.1%3A8000%2Fmedia%2Fimg%2Fremo%2Fremo_avatar.png&amp;s=50"
                     class="profiles-people-avatar"
                     alt="avatar">
              <a href""><h6>William Quiviger</h6></a>
            </div>
          </li>
          <li>
            <div class="panel dashboard-mentee notfilled">
              <img src="http://cdn.libravatar.org/avatar/ab2e3b22d61560887a580fab4b98882c?d=http%3A%2F%2F127.0.0.1%3A8000%2Fmedia%2Fimg%2Fremo%2Fremo_avatar.png&amp;s=50"
                     class="profiles-people-avatar"
                     alt="avatar">
              <a href""><h6>William Quiviger</h6></a>
            </div>
          </li>
          <li>
            <div class="panel dashboard-mentee overdue">
              <img src="http://cdn.libravatar.org/avatar/ab2e3b22d61560887a580fab4b98882c?d=http%3A%2F%2F127.0.0.1%3A8000%2Fmedia%2Fimg%2Fremo%2Fremo_avatar.png&amp;s=50"
                     class="profiles-people-avatar"
                     alt="avatar">
              <a href""><h6>William Quiviger</h6></a>
            </div>
          </li>
          <li>
            <div class="panel dashboard-mentee">
              <img src="http://cdn.libravatar.org/avatar/ab2e3b22d61560887a580fab4b98882c?d=http%3A%2F%2F127.0.0.1%3A8000%2Fmedia%2Fimg%2Fremo%2Fremo_avatar.png&amp;s=50"
                     class="profiles-people-avatar"
                     alt="avatar">
              <a href""><h6>William Quiviger</h6></a>
            </div>
          </li>
          <li>
            <div class="panel dashboard-mentee">
              <img src="http://cdn.libravatar.org/avatar/ab2e3b22d61560887a580fab4b98882c?d=http%3A%2F%2F127.0.0.1%3A8000%2Fmedia%2Fimg%2Fremo%2Fremo_avatar.png&amp;s=50"
                     class="profiles-people-avatar"
                     alt="avatar">
              <a href""><h6>William Quiviger</h6></a>
            </div>
          </li>
        </ul>
      </div>

    </div>

    <div class="row dashboard-box">
      <div class="seven columns">
        <h5>Budget Requests</h5>
      </div>
      <div class="five columns">
        <dl class="sub-nav dashboard-filter">
          <dt>Filter:</dt>
          <dd class="active"><a href="#">All</a></dd>
          <dd><a href="#">Mine</a></dd>
          <dd><a href="#">My mentees</a></dd>
        </dl>
      </div>
      <table class="dashboard-table">
        <thead>
          <tr>
            <th>Table Header</th>
            <th>Table Header</th>
            <th>Table Header</th>
            <th>Table Header</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Content</td>
            <td>This is longer content</td>
            <td>Content</td>
            <td>Content</td>
          </tr>
          <tr>
            <td>Content</td>
            <td>This is longer content</td>
            <td>Content</td>
            <td>Content</td>
          </tr>
          <tr>
            <td>Content</td>
            <td>This is longer content</td>
            <td>Content</td>
            <td>Content</td>
          </tr>
          <tr>
            <td>Content</td>
            <td>This is longer content</td>
            <td>Content</td>
            <td>Content</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row dashboard-box">
      <div class="seven columns">
        <h5>Swag Requests</h5>
      </div>
      <div class="row">
        <div class="twelve columns no-bugs">
          <p>No Bugs found!</p>
        </div>
      </div>
    </div>

    <div class="row dashboard-box">
      <div class="seven columns">
        <h5>Community IT Requests</h5>
      </div>
      <table class="dashboard-table">
        <thead>
          <tr>
            <th>Table Header</th>
            <th>Table Header</th>
            <th>Table Header</th>
            <th>Table Header</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Content</td>
            <td>This is longer content</td>
            <td>Content</td>
            <td>Content</td>
          </tr>
          <tr>
            <td>Content</td>
            <td>This is longer content</td>
            <td>Content</td>
            <td>Content</td>
          </tr>
          <tr>
            <td>Content</td>
            <td>This is longer content</td>
            <td>Content</td>
            <td>Content</td>
          </tr>
          <tr>
            <td>Content</td>
            <td>This is longer content</td>
            <td>Content</td>
            <td>Content</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="three columns">
    <div class="row dashboard-box">
      <h5>Notifications</h5>
    </div>

    <div>
      <div class="alert-box">
        This is a success alert (div.alert-box.success).
        <a href="" class="close">&times;</a>
      </div>
      <div class="alert-box">
        This is a success alert (div.alert-box.success).
        <a href="" class="close">&times;</a>
      </div>
      <div class="alert-box warning">
        This is a success alert (div.alert-box.success).
        <a href="" class="close">&times;</a>
      </div>
      <div class="alert-box">
        This is a success alert (div.alert-box.success).
        <a href="" class="close">&times;</a>
      </div>
      <div class="alert-box error">
        This is a success alert (div.alert-box.success).
        <a href="" class="close">&times;</a>
      </div>
      <div class="alert-box warning">
        This is a success alert (div.alert-box.success).
        <a href="" class="close">&times;</a>
      </div>
    </div>

  </div>

</div>
{% endblock %}

{% block bottomextra %}

{% endblock %}
