{% extends "base.html" %}

{% block pagetitle %}
Mozilla Reps - Sample Event
{% endblock %}

{% block content %}
<div class="row">
  <div class="ten columns">
    <h4 class="event-single-title">Fosscomm 2012</h4>
  </div>
  <div id="" class="two columns align-right">
    <a href=""
       class="small blue button nice radius">Edit event</a>
  </div>
</div>

<div class="row">
  <div class="five columns">
    <div class="row">
      <div class="one columns pictogram">
        }
      </div>
      <div class="eleven columns">
        <div class="row">
          <div class="ten columns end">
            <div class="event-single-date panel row">
              <div class="three columns">
                <div class="event-single-date-number">25</div>
              </div>
              <div class="four columns">
                <div class="event-single-date-month">APR 2012</div>
                <div class="event-single-date-day">Friday</div>
              </div>
              <div class="two columns end">
                <div class="event-single-date-times has-tip tip-bottom" data-width="120" title="That's local times. Your time: 24:00 - 03:00">
                  <div class="event-single-date-time-start">20:00</div>
                  <div class="event-single-date-time-end">21:00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="one columns pictogram">
        J
      </div>
      <div class="eleven columns">
        <!-- Display external URL if it exists -->
        <p class="profile-item">
          <span class="white radius label">
            URL
          </span>
          &nbsp;
          http://fosscomm.gr
        </p>
        <!-- Hashtag if available -->
        <p class="profile-item">
          <span class="white radius label">
            Hashtag
          </span>
          &nbsp;
          #fosscomm
        </p>
        <!-- Description -->
        <p class="profile-item">
          <span class="white radius label">
            Description
          </span>
          &nbsp;
          Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
        </p>
      </div>
    </div>
  </div>
  <div class="seven columns">
    <div class="row">
      <div class="one columns pictogram">
        ,
      </div>
      <div class="eleven columns">
        <div class="row">
          <div class="five columns">
            <p class="profile-item">
              <span class="white radius label">
                City
              </span>
              &nbsp;
              Athens
            </p>
            <p class="profile-item">
              <span class="white radius label">
                Region
              </span>
              &nbsp;
              Attica
            </p>
            <p class="profile-item">
              <span class="white radius label">
                Country
              </span>
              &nbsp;
              Greece
            </p>
            <p class="profile-item">
              <span class="white radius label">
                Venue
              </span>
              &nbsp;
              National Technical University of Athens
            </p>
            <p class="profile-item">
              <span class="white radius label">
                Map Links
              </span>
              &nbsp;
              <a href="link_to_osm">
                OSM
              </a>
              &nbsp;
              -
              &nbsp;
              <a href="link_to_gmaps">
                G Maps
              </a>
            </p>
          </div>
          <div class="seven columns smallmap-profile-container align-right">
            <div id="map">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Fixed mashup code -->

<div class="row">
  <div class="twelve columns hide-on-phones top-margined">
    <div class="flickrFeed" id="flickr-mashup">
      <div class="flickrHeader">
        <a href="http://www.flickr.com/photos/tags/remocamp2012/" title="undefined">Recent Uploads tagged remocamp2012</a>
      </div>
      <div class="flickrBody">
        <ul>
          <li class="flickrRow odd">
            <a href="http://www.flickr.com/photos/king-molan/7564704048/" title="IMAG1254 (View on Flickr)">
              <img src="http://farm9.staticflickr.com/8429/7564704048_b689e6702d_m.jpg" alt="IMAG1254"></a>
          </li>
          <li class="flickrRow even">
            <a href="http://www.flickr.com/photos/king-molan/7564694678/" title="IMAG1243 (View on Flickr)">
              <img src="http://farm8.staticflickr.com/7121/7564694678_9e1e4410e6_m.jpg" alt="IMAG1243"></a>
          </li>
          <li class="flickrRow odd">
            <a href="http://www.flickr.com/photos/king-molan/7564703258/" title="IMAG1253 (View on Flickr)">
              <img src="http://farm9.staticflickr.com/8160/7564703258_cdd7d61b6c_m.jpg" alt="IMAG1253"></a>
          </li>
          <li class="flickrRow even">
            <a href="http://www.flickr.com/photos/king-molan/7564696410/" title="IMAG1244 (View on Flickr)">
              <img src="http://farm8.staticflickr.com/7262/7564696410_4ca0e63969_m.jpg" alt="IMAG1244"></a>
          </li>
          <li class="flickrRow odd">
            <a href="http://www.flickr.com/photos/king-molan/7564702310/" title="IMAG1252 (View on Flickr)">
              <img src="http://farm9.staticflickr.com/8163/7564702310_e1fd8750e7_m.jpg" alt="IMAG1252"></a>
          </li>
          <li class="flickrRow even">
            <a href="http://www.flickr.com/photos/king-molan/7564701226/" title="IMAG1248 (View on Flickr)">
              <img src="http://farm9.staticflickr.com/8019/7564701226_cf80dabe52_m.jpg" alt="IMAG1248"></a>
          </li>
          <li class="flickrRow odd">
            <a href="http://www.flickr.com/photos/king-molan/7564693354/" title="IMAG1241 (View on Flickr)">
              <img src="http://farm9.staticflickr.com/8165/7564693354_ab686ae069_m.jpg" alt="IMAG1241"></a>
          </li>
        </ul>
      </div>
      <!-- Appended tweet-mashup code -->
      <div id="tweet-mashup-container">
        <div id="tweet-mashup">
          <ul class="tweet_list">
            <li class="tweet_odd">
              <a class="tweet_avatar" href="http://twitter.com/MozillaPH">
                <img src="http://a0.twimg.com/profile_images/1084715659/twitter2_fxlogo_profile_normal.jpg" alt="MozillaPH's avatar" title="MozillaPH's avatar" width="32" border="0" height="32"></a>
              <span class="tweet_time">
                <a href="http://twitter.com/MozillaPH/status/224673100481048576" title="view tweet on twitter">about a day ago</a>
              </span>
              <span class="tweet_text">
                Re-Echo the
                <a href="http://search.twitter.com/search?q=&amp;tag=remocamp2012&amp;lang=all" class="tweet_hashtag">#remocamp2012</a>
                Berlin with the Mozilla Reps
                <a href="http://search.twitter.com/search?q=&amp;tag=mozph&amp;lang=all" class="tweet_hashtag">#mozph</a>
                <a href="http://search.twitter.com/search?q=&amp;tag=community&amp;lang=all" class="tweet_hashtag">#community</a>
                <a href="http://twitter.com/MozillaPH/status/224673100481048576/photo/1">pic.twitter.com/Vqz0uoPd</a>
              </span>
            </li>
            <li class="tweet_even">
              <a class="tweet_avatar" href="http://twitter.com/ahkeno">
                <img src="http://a0.twimg.com/profile_images/2185031037/bg1_normal.jpg" alt="ahkeno's avatar" title="ahkeno's avatar" width="32" border="0" height="32"></a>
              <span class="tweet_time">
                <a href="http://twitter.com/ahkeno/status/224539467741003776" title="view tweet on twitter">about a day ago</a>
              </span>
              <span class="tweet_text">
                RT
                <span class="at">@</span>
                <a href="http://twitter.com/mozillakenya">mozillakenya</a>
                : “
                <span class="at">@</span>
                <a href="http://twitter.com/ppapadeas">ppapadeas</a>
                : RT
                <span class="at">@</span>
                <a href="http://twitter.com/hmitsch">hmitsch</a>
                : Go Remo! "
                <span class="at">@</span>
                <a href="http://twitter.com/lsblakk">lsblakk</a>
                : Mozilla Reps take DC! (with
                <span class="at">@</span>
                <a href="http://twitter.com/ahkeno">ahkeno</a>
                )
                <a href="http://search.twitter.com/search?q=&amp;tag=adacampdc&amp;lang=all" class="tweet_hashtag">#adacampdc</a>
                <a href="http://twitter.com/lsblakk/status/223168544995688448/photo/1">pic.twitter.com/3hgCKcNi</a>
                ”
                <a href="http://search.twitter.com/search?q=&amp;tag=remo&amp;lang=all" class="tweet_hashtag">#remo</a>
                <a href="http://search.twitter.com/search?q=&amp;tag=remocamp2012&amp;lang=all" class="tweet_hashtag">#remocamp2012</a>
                ”
              </span>
            </li>
            <li class="tweet_odd">
              <a class="tweet_avatar" href="http://twitter.com/ahkeno">
                <img src="http://a0.twimg.com/profile_images/2185031037/bg1_normal.jpg" alt="ahkeno's avatar" title="ahkeno's avatar" width="32" border="0" height="32"></a>
              <span class="tweet_time">
                <a href="http://twitter.com/ahkeno/status/224539395070492672" title="view tweet on twitter">about a day ago</a>
              </span>
              <span class="tweet_text">
                RT
                <span class="at">@</span>
                <a href="http://twitter.com/uwanja">uwanja</a>
                : “
                <span class="at">@</span>
                <a href="http://twitter.com/ppapadeas">ppapadeas</a>
                : RT
                <span class="at">@</span>
                <a href="http://twitter.com/hmitsch">hmitsch</a>
                : Go Remo! "
                <span class="at">@</span>
                <a href="http://twitter.com/lsblakk">lsblakk</a>
                : Mozilla Reps take DC! (with
                <span class="at">@</span>
                <a href="http://twitter.com/ahkeno">ahkeno</a>
                )
                <a href="http://search.twitter.com/search?q=&amp;tag=adacampdc&amp;lang=all" class="tweet_hashtag">#adacampdc</a>
                <a href="http://twitter.com/lsblakk/status/223168544995688448/photo/1">pic.twitter.com/wv9EoS6O</a>
                ”
                <a href="http://search.twitter.com/search?q=&amp;tag=remo&amp;lang=all" class="tweet_hashtag">#remo</a>
                <a href="http://search.twitter.com/search?q=&amp;tag=remocamp2012&amp;lang=all" class="tweet_hashtag">#remocamp2012</a>
                ”
              </span>
            </li>
            <li class="tweet_even">
              <a class="tweet_avatar" href="http://twitter.com/mozillakenya">
                <img src="http://a0.twimg.com/profile_images/1530938812/fbEycELA_normal" alt="mozillakenya's avatar" title="mozillakenya's avatar" width="32" border="0" height="32"></a>
              <span class="tweet_time">
                <a href="http://twitter.com/mozillakenya/status/224083410979794944" title="view tweet on twitter">about a day ago</a>
              </span>
              <span class="tweet_text">
                “
                <span class="at">@</span>
                <a href="http://twitter.com/ppapadeas">ppapadeas</a>
                : RT
                <span class="at">@</span>
                <a href="http://twitter.com/hmitsch">hmitsch</a>
                : Go Remo! "
                <span class="at">@</span>
                <a href="http://twitter.com/lsblakk">lsblakk</a>
                : Mozilla Reps take DC! (with
                <span class="at">@</span>
                <a href="http://twitter.com/ahkeno">ahkeno</a>
                )
                <a href="http://search.twitter.com/search?q=&amp;tag=adacampdc&amp;lang=all" class="tweet_hashtag">#adacampdc</a>
                <a href="http://twitter.com/lsblakk/status/223168544995688448/photo/1">pic.twitter.com/3hgCKcNi</a>
                ”
                <a href="http://search.twitter.com/search?q=&amp;tag=remo&amp;lang=all" class="tweet_hashtag">#remo</a>
                <a href="http://search.twitter.com/search?q=&amp;tag=remocamp2012&amp;lang=all" class="tweet_hashtag">#remocamp2012</a>
                ”
              </span>
            </li>
            <li class="tweet_odd">
              <a class="tweet_avatar" href="http://twitter.com/uwanja">
                <img src="http://a0.twimg.com/profile_images/2169679208/DSC__normal.JPG" alt="uwanja's avatar" title="uwanja's avatar" width="32" border="0" height="32"></a>
              <span class="tweet_time">
                <a href="http://twitter.com/uwanja/status/224083397365071873" title="view tweet on twitter">about a day ago</a>
              </span>
              <span class="tweet_text">
                “
                <span class="at">@</span>
                <a href="http://twitter.com/ppapadeas">ppapadeas</a>
                : RT
                <span class="at">@</span>
                <a href="http://twitter.com/hmitsch">hmitsch</a>
                : Go Remo! "
                <span class="at">@</span>
                <a href="http://twitter.com/lsblakk">lsblakk</a>
                : Mozilla Reps take DC! (with
                <span class="at">@</span>
                <a href="http://twitter.com/ahkeno">ahkeno</a>
                )
                <a href="http://search.twitter.com/search?q=&amp;tag=adacampdc&amp;lang=all" class="tweet_hashtag">#adacampdc</a>
                <a href="http://twitter.com/lsblakk/status/223168544995688448/photo/1">pic.twitter.com/wv9EoS6O</a>
                ”
                <a href="http://search.twitter.com/search?q=&amp;tag=remo&amp;lang=all" class="tweet_hashtag">#remo</a>
                <a href="http://search.twitter.com/search?q=&amp;tag=remocamp2012&amp;lang=all" class="tweet_hashtag">#remocamp2012</a>
                ”
              </span>
            </li>
            <li class="tweet_even">
              <a class="tweet_avatar" href="http://twitter.com/ppapadeas">
                <img src="http://a0.twimg.com/profile_images/484339621/Hackergotchi-Ppapadeas_normal.png" alt="ppapadeas's avatar" title="ppapadeas's avatar" width="32" border="0" height="32"></a>
              <span class="tweet_time">
                <a href="http://twitter.com/ppapadeas/status/223428772626571265" title="view tweet on twitter">about 4 days ago</a>
              </span>
              <span class="tweet_text">
                RT
                <span class="at">@</span>
                <a href="http://twitter.com/hmitsch">hmitsch</a>
                : Go Remo! "
                <span class="at">@</span>
                <a href="http://twitter.com/lsblakk">lsblakk</a>
                : Mozilla Reps take DC! (with
                <span class="at">@</span>
                <a href="http://twitter.com/ahkeno">ahkeno</a>
                )
                <a href="http://search.twitter.com/search?q=&amp;tag=adacampdc&amp;lang=all" class="tweet_hashtag">#adacampdc</a>
                <a href="http://twitter.com/lsblakk/status/223168544995688448/photo/1">pic.twitter.com/k1mm7kSV</a>
                ”
                <a href="http://search.twitter.com/search?q=&amp;tag=remo&amp;lang=all" class="tweet_hashtag">#remo</a>
                <a href="http://search.twitter.com/search?q=&amp;tag=remocamp2012&amp;lang=all" class="tweet_hashtag">#remocamp2012</a>
              </span>
            </li>
            <li class="tweet_odd">
              <a class="tweet_avatar" href="http://twitter.com/mozillareps">
                <img src="http://a0.twimg.com/profile_images/1537843836/remo_logo_small_normal.png" alt="mozillareps's avatar" title="mozillareps's avatar" width="32" border="0" height="32"></a>
              <span class="tweet_time">
                <a href="http://twitter.com/mozillareps/status/223428772572041216" title="view tweet on twitter">about 4 days ago</a>
              </span>
              <span class="tweet_text">
                RT
                <span class="at">@</span>
                <a href="http://twitter.com/hmitsch">hmitsch</a>
                : Go Remo! "
                <span class="at">@</span>
                <a href="http://twitter.com/lsblakk">lsblakk</a>
                : Mozilla Reps take DC! (with
                <span class="at">@</span>
                <a href="http://twitter.com/ahkeno">ahkeno</a>
                )
                <a href="http://search.twitter.com/search?q=&amp;tag=adacampdc&amp;lang=all" class="tweet_hashtag">#adacampdc</a>
                <a href="http://twitter.com/lsblakk/status/223168544995688448/photo/1">pic.twitter.com/k1mm7kSV</a>
                ”
                <a href="http://search.twitter.com/search?q=&amp;tag=remo&amp;lang=all" class="tweet_hashtag">#remo</a>
                <a href="http://search.twitter.com/search?q=&amp;tag=remocamp2012&amp;lang=all" class="tweet_hashtag">#remocamp2012</a>
              </span>
            </li>
            <li class="tweet_even">
              <a class="tweet_avatar" href="http://twitter.com/ahkeno">
                <img src="http://a0.twimg.com/profile_images/2185031037/bg1_normal.jpg" alt="ahkeno's avatar" title="ahkeno's avatar" width="32" border="0" height="32"></a>
              <span class="tweet_time">
                <a href="http://twitter.com/ahkeno/status/223286419815272448" title="view tweet on twitter">about 5 days ago</a>
              </span>
              <span class="tweet_text">
                RT
                <span class="at">@</span>
                <a href="http://twitter.com/hmitsch">hmitsch</a>
                : Go Remo! "
                <span class="at">@</span>
                <a href="http://twitter.com/lsblakk">lsblakk</a>
                : Mozilla Reps take DC! (with
                <span class="at">@</span>
                <a href="http://twitter.com/ahkeno">ahkeno</a>
                )
                <a href="http://search.twitter.com/search?q=&amp;tag=adacampdc&amp;lang=all" class="tweet_hashtag">#adacampdc</a>
                <a href="http://twitter.com/lsblakk/status/223168544995688448/photo/1">pic.twitter.com/k1mm7kSV</a>
                ”
                <a href="http://search.twitter.com/search?q=&amp;tag=remo&amp;lang=all" class="tweet_hashtag">#remo</a>
                <a href="http://search.twitter.com/search?q=&amp;tag=remocamp2012&amp;lang=all" class="tweet_hashtag">#remocamp2012</a>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div id="tweet-mashup-fade"></div>
      <!-- end of appended code -->
    </div>
  </div>
</div>

<div class="row">
  <div class="seven columns">
    <div class="row">
      <div class="one columns pictogram">
        a
      </div>
      <div class="eleven columns">
        <!-- Editable Content wiki like -->
          <p>Mozilla Open Web Day @ Fosscomm

          Firefox in 2012 (What's next on Firefox) - Nikos, Pierros - 30 mins - presentation (10:00 - 10:30)

          https://hacks.mozilla.org/2012/03/firefox-in-2011-firefox-plans-for-2012/

          http://htmlpad.org/fosscomm12-firefox/edit

          Firefox Developer Tools (Devtools) - Nikos - 30mins - presentation (10:30 - 11:00)

          Extend your Firefox - Addons workshop (Add-ons) - Fredy - 45 mins - workshop (11:00 - 12:00)

          http://debloper.github.com/talks/RestartlessAddons/#

          https://wiki.mozilla.org/index.php?title=Jetpack/Presentations

          http://peregrinogris.com.ar/presentations

          http://htmlpad.org/fosscomm12-addons

          The Web is the platform: Open Web Device (B2G) - Fredy, Pierros - 45 mins - presentation (12:00 - 12:45)

          https://etherpad.mozilla.org/B2Geventtemplate

          http://htmlpad.org/fosscomm12-b2g/

          The Web is the platform: Apps and Marketplace (Web Apps) - Fredy, Pierros - 45 mins -  workshop (13:15 - 14:00)

          https://etherpad.mozilla.org/B2Geventtemplate

          https://hacks.mozilla.org/2012/03/html5-the-difference-between-an-app-and-a-page/

          http://testmanifest.com

          https://etherpad.mozilla.org/tzkVRnfvm1 (webapps on linux) -> they are going to implement the first option (according to my irc logs) -> starts after 21/5 :(

          https://docs.google.com/document/d/1rCGq9txTWE0YQnB6pMUMNns0Adn4B_Oe_hAHKr853U4/edit?hl=en_US&pli=1 - 21/6 beta, 28/8 stable</p>
      </div>
    </div>
  </div>
  <div class="five columns">
    <div class="row">
      <div class="one columns pictogram">
        g
      </div>
      <div class="eleven columns">
        <!-- Listing of organizer and attendees -->
        <a href="link_to_profile" target="_blank">
          <div class="event-single-attendee">
            <div class="row">
              <div class="three phone-one columns grid-profile-image">
                <img src=""
                     class="profiles-people-avatar"
                     alt="avatar">
              </div>
              <div class="nine phone-three columns grid-profile-text">
                <h6>Pierros Papadeas</h6>
                <p class="event-single-attendee-text">Mozilla's presence organizer</p>
              </div>
            </div>
          </div>
        </a>
        <a href="link_to_profile" target="_blank">
          <div class="event-single-attendee">
            <div class="row">
              <div class="three phone-one columns grid-profile-image">
                <img src=""
                     class="profiles-people-avatar"
                     alt="avatar">
              </div>
              <div class="nine phone-three columns grid-profile-text">
                <h6>Pierros Papadeas</h6>
                <p class="event-single-attendee-text">Attendee</p>
              </div>
            </div>
          </div>
        </a>
        <a href="link_to_profile" target="_blank">
          <div class="event-single-attendee">
            <div class="row">
              <div class="three phone-one columns grid-profile-image">
                <img src=""
                     class="profiles-people-avatar"
                     alt="avatar">
              </div>
              <div class="nine phone-three columns grid-profile-text">
                <h6>Pierros Papadeas</h6>
                <p class="event-single-attendee-text">Attendee</p>
              </div>
            </div>
          </div>
        </a>
        <a href="link_to_profile" target="_blank">
          <div class="event-single-attendee">
            <div class="row">
              <div class="three phone-one columns grid-profile-image">
                <img src=""
                     class="profiles-people-avatar"
                     alt="avatar">
              </div>
              <div class="nine phone-three columns grid-profile-text">
                <h6>Pierros Papadeas</h6>
                <p class="event-single-attendee-text">Attendee</p>
              </div>
            </div>
          </div>
        </a>
        <!-- End of listing of organizer and attendees -->

        <!-- Estimated attenande visible only to authenticated -->
        <p class="profile-item">
          <span class="white radius label">
            Estimated Attendance
          </span>
          &nbsp;
          1000+
        </p>

        <!-- Attend and de-attend button only visible to Reps -->
        <div class="align-right top-margined">
          <a href="#" class="small white button nice radius"
             data-reveal-id="map-point">I will attend the event</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="end-row row">
  <div class="seven columns">
    <div class="row">
    </div>
  </div>
  <div class="five columns">
    <!-- Tools section available to registered users -->
    <div class="row">
      <div class="one columns pictogram">
        (
      </div>
      <div class="eleven columns">
        <p class="profile-item">
          <span class="white radius label">
            Swag request
          </span>
          &nbsp;
          <a href="#">278364</a>
          <span class="request-status">
            Order Shipped
          </span>
        </p>
        <p class="profile-item">
          <span class="white radius label">
            Budget request
          </span>
          &nbsp;
          <a href="#">278364</a>
          <span class="request-status">
            Order Shipped
          </span>
        </p>
        <div class="top-margined">
          Use etherpad to keep notes and plan about your event:
          <div class="align-right top-margined">
            <a href="#" class="small white button nice radius"
               data-reveal-id="map-point">Planning pad</a>
          </div>
        </div>
        <div class="row top-margined">
          Use the sign-up form for new contributors of Get Involved page, and keep track of the sign-ups for this event automatically.
          <div class="six columns event-single-signups-count">
            Sign-ups count: 324
          </div>
          <div class="six columns align-right top-margined">
            <a href="#" class="small white button nice radius"
               data-reveal-id="map-point">Get involved form</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Metrics section (visible to: all authenticated) - repeat if needed-->
    <div class="row">
      <div class="one columns pictogram">
        6
      </div>
      <div class="eleven columns">
        <p class="profile-item">
          <span class="white radius label">
            Metric #1
          </span>
          &nbsp;
          Random metric
        </p>
        <p class="profile-item">
          <span class="white radius label">
            Success scenario #1
          </span>
          &nbsp;
          Succesful quote
        </p>
      </div>
    </div>

    <!-- Metrics section (visible to: all authenticated) - repeat if needed-->
    <div class="row">
      <div class="one columns pictogram">
        6
      </div>
      <div class="eleven columns">
        <p class="profile-item">
          <span class="white radius label">
            Metric #2
          </span>
          &nbsp;
          Random metric
        </p>
        <p class="profile-item">
          <span class="white radius label">
            Success scenario #2
          </span>
          &nbsp;
          Succesful quote
        </p>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block bottomextra %}
  <!-- Needs to be made url -->
  <script src="/media/js/jquery.zflickrfeed.js" type="text/javascript"></script>
  <script src="/media/js/jquery.tweet.js" type="text/javascript"></script>
  <script src="../media/js/jquery.tooltips.js"></script>
  <!-- Test
  <script type="text/javascript">
    $(document).ready(function () {
      $('#flickr-mashup').flickrfeed('','remocamp2012', {
        limit: 7,
        title: false,
        date: false,
        header: false
      }
      ).append(''); //Here we need to append the div code for tweets
      // Following does not seem to work?
      $("a:contains('flickr.com')").attr("target", "_blank");
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function($){
      $("#tweet-mashup").tweet({
          query: "remocamp2012",
          page: 1,
          avatar_size: 32,
          count: 20,
          loading_text: "loading ..."
        }).bind("loaded", function() {
          var ul = $(this).find(".tweet_list");
          var ticker = function() {
            setTimeout(function() {
              ul.find('li:first').animate( {marginTop: '-4em'}, 500, function() {
                $(this).detach().appendTo(ul).removeAttr('style');
              });
              ticker();
            }, 5000);
          };
          ticker();
        });
    });
  </script> -->
{% endblock %}

