{% extends "base.html" %}

{% block pagetitle %}
Mozilla Reps - Events
{% endblock %}

{% block content %}

<!-- Create new event row, visible only to reps,mentors,council,admins -->
<div class="row">
  <div class="twelve columns align-right">
    <a href="#" target="_blank"
       class="small white button nice radius">Create event</a>
  </div>
</div>

<!-- Events listing -->
<div class="row end-row">
  <div class="twelve columns">
    <!-- Table start -->
    <table id="events-table">
      <thead></thead>
      <tbody>
        <tr>
          <td>
            <div class="row">
              <!-- Event Date -->
              <div class="two columns events-table-date-container has-tip tip-top" 
                title="Local time: <br> 24:00 - 03:00">
                <div class="events-table-date panel">
                  <div class="events-table-date-day">
                    23
                  </div>
                  <div class="events-table-date-month">
                    APR
                  </div>
                </div>
                <!-- Event name only in phones -->
                <div class="events-table-name show-on-phones">
                  <a href="#">
                    Fosscomm 2012
                  </a>
                </div>
              </div>
              <!-- Event Info -->
              <div class="nine columns events-table-info">
                <div class="events-table-name hide-on-phones">
                  <a href="#">
                    Fosscomm 2012
                  </a>
                </div>
                <div class="events-table-decription">
                  Fosscomm 2012 is the national conference on free and open source software in Greece.
                  Fosscomm 2012 is the national conference on free and open source software in Greece.
                </div>
                <div class="events-table-location">
                  <span class="events-table-venue">Technical University of Serres</span> - 
                  <a href="#">
                    Serres</a> - 
                  <a href="#">
                    Serres</a> - 
                  <a href="#">
                    Greece</a>
                </div>
              </div>
              <!-- Event Extra -->
              <div class="two columns events-table-extra hide-on-phones">
                <div class="events-table-owner">
                  <span class="events-table-owner-tag">
                    Owner
                  </span><br>
                  <a href="#">
                    Fredy Damkalis
                  </a>
                </div>
                <!-- Following div displayed only for authenticated users -->
                <div class="events-table-expected">
                  1000+ expected
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="row">
              <!-- Event Date -->
              <div class="two columns events-table-date-container has-tip tip-top" 
                title="Local time: <br> 24:00 - 03:00">
                <div class="events-table-date panel">
                  <div class="events-table-date-day-multiple">
                    23-24
                  </div>
                  <div class="events-table-date-month">
                    APR
                  </div>
                </div>
                <!-- Event name only in phones -->
                <div class="events-table-name show-on-phones">
                  <a href="#">
                    Fosscomm 2012
                  </a>
                </div>
              </div>
              <!-- Event Info -->
              <div class="nine columns events-table-info">
                <div class="events-table-name hide-on-phones">
                  <a href="#">
                    Fosscomm 2012
                  </a>
                </div>
                <div class="events-table-decription">
                  Fosscomm 2012 is the national conference on free and open source software in Greece.
                  Fosscomm 2012 is the national conference on free and open source software in Greece.
                </div>
                <div class="events-table-location">
                  <span class="events-table-venue">Technical University of Serres</span> - 
                  <a href="#">
                    Serres</a> - 
                  <a href="#">
                    Serres</a> - 
                  <a href="#">
                    Greece</a>
                </div>
              </div>
              <!-- Event Extra -->
              <div class="two columns events-table-extra hide-on-phones">
                <div class="events-table-owner">
                  <span class="events-table-owner-tag">
                    Owner
                  </span><br>
                  <a href="#">
                    Fredy Damkalis
                  </a>
                </div>
                <!-- Following div displayed only for authenticated users -->
                <div class="events-table-expected">
                  1000+ expected
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="row">
              <!-- Event Date -->
              <div class="two columns events-table-date-container has-tip tip-top" 
                title="Local time: <br> 24:00 - 03:00">
                <div class="events-table-date panel">
                  <div class="events-table-date-day-multiple">
                    23-02
                  </div>
                  <div class="events-table-date-month-multiple">
                    APR-MAY
                  </div>
                </div>
                <!-- Event name only in phones -->
                <div class="events-table-name show-on-phones">
                  <a href="#">
                    Fosscomm 2012
                  </a>
                </div>
              </div>
              <!-- Event Info -->
              <div class="nine columns events-table-info">
                <div class="events-table-name hide-on-phones">
                  <a href="#">
                    Fosscomm 2012
                  </a>
                </div>
                <div class="events-table-decription">
                  Fosscomm 2012 is the national conference on free and open source software in Greece.
                  Fosscomm 2012 is the national conference on free and open source software in Greece.
                </div>
                <div class="events-table-location">
                  <span class="events-table-venue">Technical University of Serres</span> - 
                  <a href="#">
                    Serres</a> - 
                  <a href="#">
                    Serres</a> - 
                  <a href="#">
                    Greece</a>
                </div>
              </div>
              <!-- Event Extra -->
              <div class="two columns events-table-extra hide-on-phones">
                <div class="events-table-owner">
                  <span class="events-table-owner-tag">
                    Owner
                  </span><br>
                  <a href="#">
                    Fredy Damkalis
                  </a>
                </div>
                <!-- Following div displayed only for authenticated users -->
                <div class="events-table-expected">
                  1000+ expected
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="row">
              <!-- Event Date -->
              <div class="two columns events-table-date-container has-tip tip-top" 
                title="Local time: <br> 24:00 - 03:00">
                <div class="events-table-date panel">
                  <div class="events-table-date-day">
                    23
                  </div>
                  <div class="events-table-date-month">
                    APR
                  </div>
                </div>
                <!-- Event name only in phones -->
                <div class="events-table-name show-on-phones">
                  <a href="#">
                    Fosscomm 2012
                  </a>
                </div>
              </div>
              <!-- Event Info -->
              <div class="nine columns events-table-info">
                <div class="events-table-name hide-on-phones">
                  <a href="#">
                    Fosscomm 2012
                  </a>
                </div>
                <div class="events-table-decription">
                  Fosscomm 2012 is the national conference on free and open source software in Greece.
                  Fosscomm 2012 is the national conference on free and open source software in Greece.
                </div>
                <div class="events-table-location">
                  <span class="events-table-venue">Technical University of Serres</span> - 
                  <a href="#">
                    Serres</a> - 
                  <a href="#">
                    Serres</a> - 
                  <a href="#">
                    Greece</a>
                </div>
              </div>
              <!-- Event Extra -->
              <div class="two columns events-table-extra hide-on-phones">
                <div class="events-table-owner">
                  <span class="events-table-owner-tag">
                    Owner
                  </span><br>
                  <a href="#">
                    Fredy Damkalis
                  </a>
                </div>
                <!-- Following div displayed only for authenticated users -->
                <div class="events-table-expected">
                  1000+ expected
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}