{% extends "base.html" %}

{% block pagetitle %}
Mozilla Reps - Sample Event
{% endblock %}

{% block content %}
<div class="row">
  <div class="ten columns">
    <h4 class="event-single-title">Fosscomm 2012</h4>
  </div>
  <div id="" class="two columns align-right">
    <a href=""
       class="small blue button nice radius">Edit event</a>
  </div>
</div>

<div class="row">
  <div class="five columns">
    <div class="row">
      <div class="one columns pictogram">
        }
      </div>
      <div class="eleven columns">
        <div class="row">
          <div class="ten columns end">
            <div class="event-single-date panel row">
              <div class="six columns">
                <div class="event-single-date-month">23 APR 2012</div>
                <div class="event-single-date-month-second">26 APR 2012</div>
              </div>
              <div class="four columns">
                <div class="event-single-date-times">
                  <div class="event-single-date-day-first">Friday</div>
                  <div class="event-single-date-day-second">Monday</div>
                </div>
              </div>
              <div class="two columns">
                <div class="event-single-date-multitimes-wrap has-tip tip-bottom" data-width="120" title="Event starts daily at 09:00 and ends 21:00 local time. Thats 21:00-06:00 yours.">
                  <div class="event-single-date-multitimes">}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="seven columns">
    <div class="row">
      <div class="one columns pictogram">
        J
      </div>
      <div class="eleven columns">
        <!-- Display external URL if it exists -->
        <p class="profile-item">
          <span class="white radius label">
            URL
          </span>
          &nbsp;
          http://fosscomm.gr
        </p>
        <!-- Description -->
        <p class="profile-item">
          <span class="white radius label">
            Description
          </span>
          &nbsp;
          Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Followup mashup row -->

<div class="row">
  <div class="twelve columns top-margined">
    <img src="http://dummyimage.com/980x200/999/ccc"/>
  </div>
</div>

<div class="row">
  <div class="seven columns">
    <div class="row">
      <div class="one columns pictogram">
        a
      </div>
      <div class="eleven columns">
        <!-- Editable Content wiki like -->
          <p>Mozilla Open Web Day @ Fosscomm

          Firefox in 2012 (What's next on Firefox) - Nikos, Pierros - 30 mins - presentation (10:00 - 10:30)

          https://hacks.mozilla.org/2012/03/firefox-in-2011-firefox-plans-for-2012/

          http://htmlpad.org/fosscomm12-firefox/edit

          Firefox Developer Tools (Devtools) - Nikos - 30mins - presentation (10:30 - 11:00)

          Extend your Firefox - Addons workshop (Add-ons) - Fredy - 45 mins - workshop (11:00 - 12:00)

          http://debloper.github.com/talks/RestartlessAddons/#

          https://wiki.mozilla.org/index.php?title=Jetpack/Presentations

          http://peregrinogris.com.ar/presentations

          http://htmlpad.org/fosscomm12-addons

          The Web is the platform: Open Web Device (B2G) - Fredy, Pierros - 45 mins - presentation (12:00 - 12:45)

          https://etherpad.mozilla.org/B2Geventtemplate

          http://htmlpad.org/fosscomm12-b2g/

          The Web is the platform: Apps and Marketplace (Web Apps) - Fredy, Pierros - 45 mins -  workshop (13:15 - 14:00)

          https://etherpad.mozilla.org/B2Geventtemplate

          https://hacks.mozilla.org/2012/03/html5-the-difference-between-an-app-and-a-page/

          http://testmanifest.com

          https://etherpad.mozilla.org/tzkVRnfvm1 (webapps on linux) -> they are going to implement the first option (according to my irc logs) -> starts after 21/5 :(

          https://docs.google.com/document/d/1rCGq9txTWE0YQnB6pMUMNns0Adn4B_Oe_hAHKr853U4/edit?hl=en_US&pli=1 - 21/6 beta, 28/8 stable

          https://wiki.mozilla.org/SummerOfCode/2012/LinuxNativeWebApps

          Identity on the Open Web (BrowserID) - Nikos, Giorgos - 45 mins -  workshop (15:00 - 15:45)

          https://bugzilla.wikimedia.org/show_bug.cgi?id=34565

          https://wiki.mozilla.org/images/c/c2/Persona_user_flow_dialog.png

          https://sv.wiktionary.org/wiki/Anv%C3%A4ndare:Skalman/BrowserID

          https://github.com/hsgr/browserid_mediawiki_extension

          http://media.hackerspace.gr/mediawiki/index.php/Special:BrowserIDLogin

          https://developer.mozilla.org/en/BrowserID/Quick_Setup

          https://github.com/stomlinson/browserid_mediawiki_extension/blob/master/browserid_mediawiki.hooks.php

          http://htmlpad.org/fosscomm12-identity/edit

          Τι είναι το BrowserID

          Παραδείγματα login

          Πως λειτουργεί τεχνικά

          Πως μπορείς να το βάλεις στο site σου

          Η προσπάθεια ενσωμάτωσης στο wikimedia

          What bug? RESOLVED FIXED! (WebDev in Mozilla) - Giorgos - 45 mins -  workshop (15:45 - 16:30)

          http://pad.hackerspace.gr/p/whatbug-presentation

          B2G Building and Testing Workshop -  Fredy, Pierros - 150 mins - workshop (16:00 - 18:30)

          https://etherpad.mozilla.org/B2Geventtemplate</p>
      </div>
    </div>
  </div>
  <div class="five columns">
    <div class="row">
      <div class="one columns pictogram">
        g
      </div>
      <div class="eleven columns">
        <!-- Listing of organizer and attendees -->
        <a href="link_to_profile" target="_blank">
          <div class="event-single-attendee">
            <div class="row">
              <div class="three phone-one columns grid-profile-image">
                <img src="http://dummyimage.com/50x50/999/ccc"
                     class="profiles-people-avatar"
                     alt="avatar">
              </div>
              <div class="nine phone-three columns grid-profile-text">
                <h6>Pierros Papadeas</h6>
                <p class="event-single-attendee-text">Mozilla's presence organizer</p>
              </div>
            </div>
          </div>
        </a>
        <a href="link_to_profile" target="_blank">
          <div class="event-single-attendee">
            <div class="row">
              <div class="three phone-one columns grid-profile-image">
                <img src="http://dummyimage.com/50x50/999/ccc"
                     class="profiles-people-avatar"
                     alt="avatar">
              </div>
              <div class="nine phone-three columns grid-profile-text">
                <h6>Pierros Papadeas</h6>
                <p class="event-single-attendee-text">Attendee</p>
              </div>
            </div>
          </div>
        </a>
        <a href="link_to_profile" target="_blank">
          <div class="event-single-attendee">
            <div class="row">
              <div class="three phone-one columns grid-profile-image">
                <img src="http://dummyimage.com/50x50/999/ccc"
                     class="profiles-people-avatar"
                     alt="avatar">
              </div>
              <div class="nine phone-three columns grid-profile-text">
                <h6>Pierros Papadeas</h6>
                <p class="event-single-attendee-text">Attendee</p>
              </div>
            </div>
          </div>
        </a>
        <a href="link_to_profile" target="_blank">
          <div class="event-single-attendee">
            <div class="row">
              <div class="three phone-one columns grid-profile-image">
                <img src="http://dummyimage.com/50x50/999/ccc"
                     class="profiles-people-avatar"
                     alt="avatar">
              </div>
              <div class="nine phone-three columns grid-profile-text">
                <h6>Pierros Papadeas</h6>
                <p class="event-single-attendee-text">Attendee</p>
              </div>
            </div>
          </div>
        </a>
        <!-- End of listing of organizer and attendees -->
        <!-- Attend and de-attend button only visible to Reps -->
        <div class="align-right top-margined">
          <a href="#" class="small white button nice radius"
             data-reveal-id="map-point">I will attend the event</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="end-row row">
  <div class="seven columns">
    <div class="row">
    </div>
  </div>
  <div class="five columns">
    <!-- Tools section available to registered users -->
    <div class="row">
      <div class="one columns pictogram">
        (
      </div>
      <div class="eleven columns">
        <div class="top-margined">
          Use etherpad to keep notes and plan about your event:
          <div class="align-right top-margined">
            <a href="#" class="small white button nice radius"
               data-reveal-id="map-point">Planning pad</a>
          </div>
        </div>
        <div class="row top-margined">
          Use the sign-up form for new contributors of Get Involved page, and keep track of the sign-ups for this event automatically.
          <div class="six columns event-single-signups-count">
            Sign-ups count: 324
          </div>
          <div class="six columns align-right top-margined">
            <a href="#" class="small white button nice radius"
               data-reveal-id="map-point">Get involved form</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block bottomextra %}
  <!-- Needs to be made url -->
  <script src="../media/js/jquery.tooltips.js"></script>
{% endblock %}

